#container-01 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 1px solid black;
  height: 300px;
  gap: 10px;
}

#container-02 {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}
