#container {
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

#container > div:nth-child(1) {
  background-color: blueviolet;
  grid-row: 1/4;
}

#container > div:nth-child(2) {
  background-color: blueviolet;
  grid-column: 2/4;
}

#container > div:nth-child(3) {
  background-color: green;
}

#container > div:nth-child(6) {
  background-color: aquamarine;
  grid-column: 4/5;
  grid-row: 2/4;
}

#container > div:nth-child(4),
#container > div:nth-child(5),
#container > div:nth-child(7),
#container > div:nth-child(8) {
  background-color: bisque;
}
